* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins,'Courier New', Courier, monospace;
}

body{
    min-width: 312px;
    overflow-y: visible;
    overflow-x: hidden;
    color: white;
    background-color: black;
}

header{
    height: 150px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

header ul{
    display: flex;
    list-style: none;
    padding-right: 10%;
    color: white;
}

header ul li a{
    color: white;
    list-style: none;
    text-decoration: none;
}


.btnNav a{
    text-decoration: none;
    color: white;
}

.btnNav a:hover{
    text-decoration: none;
    color: white;
}

.btnNav{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
}

.btnNav::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #4CB944;
    display: block;
    transition: .5s ease-in-out;
}

  
.btnNav:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #4CB944;
    display: block;
}

.backhome{
    padding-left: 10%;
}

.backhome a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.disapear i{
    display: none;
}

@media screen and (max-width : 750px){
    header ul{
        padding-right: 5%;
    }
    .backhome{
        display: none;
    }

    .disapear{
        padding-left: 10%;
    }

    .disapear a{
        text-decoration: none;
    }

    .disapear i{
        display: block;
        text-decoration: none;
        color: white;   
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        background-color: #000;
        padding: 40px;
    }
}

h1{
    text-align: center;
    padding: 40px;
}

h2{
    text-align: center;
    padding-block: 200px;
}

.logoArea ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    padding-left: 0px;
}

.logoArea ul li{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 20px;
    font-size: 20px;
    background-color: white;
    line-height: 40px;
    transition-duration: 0.5s ;
}


.logoArea ul li:hover{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 20px;
    font-size: 20px;
    background-color: #4CB944;
    line-height: 40px;
    
}

.logoArea ul li a{
    color: black;
    transition-duration: 0.4s;
}

.logoArea ul li:hover a{
    color: white;
}

#map { 
    height: 300px;
    z-index: 1;
}

.contact{
    text-align: center;
    min-height: 80vh;
    background-color: #000;
    color: white;
    transition: .5s;
}


.present-contact .btn a{
    text-decoration: none;
    color: #4CB944;
    transition-duration: 0.4s;
}

.present-contact .btn{
    font-size: 18px;
    margin: 20px;
    width: 150px;
    height: 75px;
    background: none;
    border: 2px solid #4CB944;
    border-radius: 5px;
    transition-duration: 0.4s;
    color: white;
}

.present-contact .btn:hover{
    background-color: #4CB944;
    color: white;
}

.present-contact .btn:hover a{
    color: white;
}


footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #000;
    padding: 40px;
}


