* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins,'Courier New', Courier, monospace;
    
}

body{
    min-width: 312px;
    overflow-y: visible;
    overflow-x: hidden;
}

#particles-js{
    width: 100%;
    height: 100vh;
    background-color: black;
    
}

.banner{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s linear;
    z-index: 100;
}

#burger{
    display: none;
}

.banner.sticky {
    background-color: black;
    height: 70px;
}

.banner img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.banner.sticky img{
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
}

.banner .nav-links{
    margin-right: 2%;
}

.banner .nav-links ul{
    display: flex;
    width: 100%;
    margin-right: 5%;
    list-style: none;
    align-items: center;
    margin-bottom:0 ;
}


.btnNav a{
    text-decoration: none;
    color: white;
}

.btnNav a:hover{
    text-decoration: none;
    color: white;
}

.btnNav{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 25px;
}

.btnNav::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #4CB944;
    display: block;
    transition: .5s ease-in-out;
}

  
.btnNav:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #4CB944;
    display: block;
}

.presentation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.presentation h1{
    font-size: 70px;
}

.presentation hr{
    width: 250px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 0.4px solid #4CB944;
    color: #4CB944;
    opacity: 1;
}

.presentation p{
    font-size: 20px;
    margin: 20px;
}


.presentation .btn a{
    text-decoration: none;
    color: #4CB944;
    transition-duration: 0.4s;
}

.presentation .btn{
    font-size: 18px;
    margin: 20px;
    width: 150px;
    height: 75px;
    background: none;
    border: 2px solid #4CB944;
    border-radius: 5px;
    transition-duration: 0.4s;
    color: white;
}

.presentation .btn:hover{
    background-color: #4CB944;
    color: white;
}

.presentation .btn:hover a{
    color: white;
}

.logoArea ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    padding-left: 0px;
}

.logoArea ul li{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 20px;
    font-size: 20px;
    background-color: white;
    line-height: 40px;
    transition-duration: 0.5s ;
}


.logoArea ul li:hover{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 20px;
    font-size: 20px;
    background-color: #4CB944;
    line-height: 40px;
    
}

.logoArea ul li a{
    color: black;
    transition-duration: 0.4s;
}

.logoArea ul li:hover a{
    color: white;
}

.aboutme{
    min-height: 100vh;
    background-color:#0F0E0F;
    color: white;
    text-align: center;
    
}

.aboutme h1{
    padding: 100px;
}

.details-about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.aboutme .details-about img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-right: 70px;
    justify-content: center;
}

.aboutme .details-about p{
    min-height: 300px;
    max-width: 600px;
    text-align: start;
}

.aboutme .details-about p a{
    color: #4CB944;
}

.services{
    min-height: 100vh;
    background-color: #000;
    color: white;
}

.services h1{
    padding: 100px;
    text-align: center;
}

.services #text-services{
    text-align: center;
    padding-inline: 15%;
}

.aboutme .chronologie{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 100px;
}

.aboutme .chronologie-vert{
    display: none;
}

.aboutme .chronologie-vert-mobile{
    display: none;
}

.portfolio{
    text-align: center;
    min-height: 100vh;
    background-color: #0F0E0F;
    color: white;
}

.portfolio h1{
    padding: 100px;
}

.portfolio p{
    padding-bottom: 50px;
}

.portfolio .projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.portfolio .projects .card{
    position: relative;
    background: none;
    margin: auto;
    border: 0px;
}

.portfolio .projects .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.portfolio .projects .card .face.face1{
    position: relative;
    background-color: #0F0E0F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    z-index: 1;
    transition: .3s;
    font-size: 40px;
    transform: translateY(100px);
}

.portfolio .projects .card .face.face1 .content{
    opacity: 0.5;
}

.portfolio .projects .card:hover .face.face1 .content{
    opacity: 1;
}

.portfolio .projects .card .face.face1 h5{
    padding: 30px;
    font-size: 16px;
    font-weight: bold;
}

.portfolio .projects .card:hover .face.face1{
    transform: translateY(0);
    background-color: #4CB944;
}



.portfolio .projects .card .face.face2{
    position: relative;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start ;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8 );
    text-align: start;
    transform: translateY(-100px);
}

.portfolio .projects .card:hover .face.face2{
    transform: translateY(0);
}

.portfolio .projects .card .face.face2 p{
    margin: 0;
    padding: 0;
}

.portfolio .projects .card .face.face2 a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #0F0E0F;
    padding: 5px;
    border: 1px solid #0F0E0F;
    transition: 0.5s;
}

.portfolio .projects .card .face.face2 a:hover{
    background-color: #0F0E0F;
    color: #fff;
}


.contact{
    text-align: center;
    min-height: 80vh;
    background-color: #000;
    color: white;
}

.contact h1{
    padding: 100px;
}

.contact p{
    padding-inline: 200px;
}

.present-contact .btn a{
    text-decoration: none;
    color: #4CB944;
    transition-duration: 0.4s;
}

.present-contact .btn{
    font-size: 18px;
    margin: 20px;
    width: 150px;
    height: 75px;
    background: none;
    border: 2px solid #4CB944;
    border-radius: 5px;
    transition-duration: 0.4s;
    color: white;
}

.present-contact .btn:hover{
    background-color: #4CB944;
    color: white;
}

.present-contact .btn:hover a{
    color: white;
}

#map { 
    height: 300px;
    z-index: 1;
}

@media screen and (max-width : 1000px){
    .presentation h1{
        font-size: 40px;
    }

    .presentation p{
        font-size: 15px;
    }

    .aboutme .chronologie{
        display: none;
    }

   .banner .nav-links{
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #4CB944;
        align-items: center;
        justify-content: center;
        top: 0;
        margin-left: -100%;
        transition: all .5s ease-in;
   }

   .nav-links.mobile-menu{
        margin-left: 0;
   }

   .banner .nav-links ul{
    display: flex;
    flex-direction: column;
}

    #burger{
        display: block;
        color: white;
        padding-right: 5%;
        font-size: 30px;
        z-index: 1;
    }


    .btnNav a{
        text-decoration: none;
        color: white;
    }
    
    .btnNav a:hover{
        text-decoration: none;
        color: white;
    }
    
    .btnNav{
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        margin: 25px;
    }
    
    .btnNav::after{
        content: '';
        height: 2px;
        width: 0%;
        background-color: white;
        display: block;
        transition: .5s ease-in-out;
    }
    
      
    .btnNav:hover::after{
        content: '';
        height: 2px;
        width: 100%;
        background-color: white;
        display: block;
    }


    .details-about{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0;
    }

    .aboutme .details-about img{
        width: 250px;
        height: 250px;
        padding-bottom: 30px;
        object-fit: contain;
        margin-right: 0px;
        align-items: center;
    }
    .aboutme .details-about p{
        text-align: center;
        padding: 10px;
    }

    .services .competences{
        text-align: center;
        align-items: center;
    }


    .aboutme .chronologie-vert{
        display: flex;
        justify-content: center;
    }
    
    .contact p{
        padding-inline: 10px;
    }

}



.competences .modal-content{
    display: flex;
    flex-direction: row;
    color: #000;
    padding-left: 5%;
}

.competences .modal-title{
    color: #4CB944;
    padding: 20px; 
}

.competences .modal-header{
    display: flex;
    flex-direction: column;
    border-bottom: 0px;
}

.competences .modal-header p{
    font-size: 18px;
    text-align: center;
}


.competences .modal-body p{
    font-size: 16px;
}


.competences .close-modal img{
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 50px;
    padding-right: 50%;
    padding-top: 50%;
}



.competences{
    display: flex;
    flex-wrap: wrap;
    padding: 10vh;
    justify-content: space-between;
    text-align: center;
}

.competences button{
    outline: none;
    width: 100px;
    height: 100px;
    font-size: 30px;
    background: none;
    border-radius: 100%;
    border: 2px solid #4CB944;
    color: #4CB944;
    margin: 15px;
    transition: .5s;
}

.competences button:focus{
    background: none;
    border: 2px solid #4CB944;
    outline:none;
}

.competences button:hover{
    content: '';
    background-color: #4CB944;
    border-color: #4CB944;
    outline:none;
}

.under-comp-title{
    color: #4CB944;
    font-size: 25px;
}

.dataBlock{
    width: 240px;
}

.dataBlock p{
    font-size: 16px;
}

@media screen and (max-width : 670px){
    .competences{
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        background-color: #000;
        padding: 40px;
    }
}

@media screen and (max-width : 450px){
    .aboutme .chronologie-vert{
        display: none;
    }

    .aboutme .chronologie-vert-mobile{
        display: flex;
        justify-content: center;
    }

    #burger{
        font-size: 20px;
    }

    .banner{
        height: 60px;
        align-items: center;
    }

    .banner img{
        width: 60px;
        height: 60px;
    }

    .banner.sticky {
        background-color: black;
        height: 50px;
    }

    .banner.sticky img{
        width: 50px;
        height: 50px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #000;
    padding: 40px;
}

