* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins;
    
}

body{
    min-width:300px;
}

#particles-js{
    width: 100%;
    height: 100vh;
    background-color: black;
    
}

.banner{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.banner img{
    width: 100px;
    height: 100px;
}

.banner .navigation{
    display: flex;
    margin-right: 5%;
}


.btnNav a{
    color: white;
    text-decoration: none;
}

.btnNav{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    margin: 25px;
}

.btnNav::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #4CB944;
    display: block;
    transition: .5s ease-in-out;
  }
  
.btnNav:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #4CB944;
    display: block;
  }



.presentation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.presentation h1{
    font-size: 70px;
}

.presentation hr{
    width: 250px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 0.5px solid #4CB944;
}

.presentation p{
    font-size: 20px;
    margin: 20px;
}

.presentation .btn a{
    text-decoration: none;
    color: #4CB944;
    transition-duration: 0.4s;
}

.presentation .btn{
    font-size: 18px;
    margin: 20px;
    width: 150px;
    height: 75px;
    background: none;
    border: 2px solid #4CB944;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.presentation .btn:hover{
    background-color: #4CB944;
    color: white;
}

.presentation .btn:hover a{
    color: white;
}

.logoArea ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.logoArea ul li{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 20px;
    font-size: 20px;
    background-color: white;
    line-height: 40px;
    transition-duration: 0.4s ;
}


.logoArea ul li:hover{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 20px;
    font-size: 20px;
    background-color: #4CB944;
    line-height: 40px;
    
}

.logoArea ul li a{
    color: black;
    transition-duration: 0.4s;
}

.logoArea ul li:hover a{
    color: white;
}

.aboutme{
    min-height: 100vh;
    background-color:#0F0E0F;
    color: white;
    text-align: center;
    
}

.aboutme h1{
    padding: 100px;
}

.details-about{
    display: flex;
    align-items: center;
    position: relative;
    left: 25%;
}

.aboutme .details-about img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-right: 70px;
    justify-content: center;
}

.aboutme .details-about p{
    max-width: 500px;
    text-align: start;
}

.experience{
    min-height: 100vh;
    background-color: #000;
    color: white;
}

.experience h1{
    padding: 100px;
    text-align: center;
}

.experience p{
    padding-inline: 25%;
    padding-bottom: 15%;
    text-align: center;
}

.experience .chronologie{
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio{
    text-align: center;
    min-height: 100vh;
    background-color: #0F0E0F;
    color: white;
}

.portfolio h1{
    padding: 100px;
}

.portfolio img{
    width: 100px;
    height: 100px;
}

.contact{
    text-align: center;
    min-height: 70vh;
    background-color: #000;
    color: white;
}

.contact h1{
    padding-top: 100px;
    padding-inline: 100px;
}

.contact img{
    width: 100px;
    height: 100px;
}

#map { height: 300px; }

footer{
    color: white;
    background-color: #000;
    padding: 50px 0px;
}

@media screen and (max-width : 1000px){
    .experience .chronologie{
        display: none;
    }

    .banner .navigation{
        display: none;
    }

    .details-about{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        left: 10%;
    }
    .aboutme .details-about img{
        width: 150px;
        height: 150px;
        object-fit: contain;
        margin-right: 0px;
        align-items: center;
    }
    .aboutme .details-about p{
        text-align: center;
    }
}